-e git+https://github.com/CPJPRINCE/auto_classification_generator@62c511d9dafda3c52942f1e2708fcee15cca8e90#egg=auto_reference_generator
et_xmlfile==2.0.0
numpy==2.4.2
openpyxl==3.1.5
pandas==3.0.0
python-dateutil==2.9.0.post0
six==1.17.0
tqdm==4.67.3
